In [141]:
import csv
import pandas as pd
import numpy as np
import statistics

In [142]:
def csv_to_df(filename, index_col):
    df = pd.read_csv(filename, index_col=index_col, parse_dates=True)
    return df

In [143]:
def drop_high_var_idxs(filename, index_col, window_size, ths, col):
    df = csv_to_df(filename, index_col=index_col)
    df_interest = df[col]
    if window_size > len(df_interest):
        raise ValueError("Window size must be less than or equal to the length of the list.")
    
    rows_to_drop = []

    for i in range(len(df_interest) - window_size + 1):
        window = df_interest.iloc[i:i + window_size]
        window_var = statistics.variance(window)
        if window_var > ths:
            rows_to_drop.append(df_interest.index[i])
    
    df_clean = pd.DataFrame(df_interest.drop(rows_to_drop))
    return df_clean

In [140]:
drop_high_var_idxs('2023-08-26 04-52-40.csv', 'timestamp', 10, 20, 'hum_pressure')

                     hum_pressure
timestamp
2023-08-26 04:52:40      100560.0
2023-08-26 04:52:41      100562.0
2023-08-26 04:52:42      100559.0
2023-08-26 04:52:43      100560.0
2023-08-26 04:52:44      100560.0
...                           ...
2023-08-26 05:46:28      100572.0
2023-08-26 05:46:29      100578.0
2023-08-26 05:46:30      100576.0
2023-08-26 05:46:31      100578.0
2023-08-26 05:46:32      100579.0

[2146 rows x 1 columns]